<form [formGroup]="formShipment">
  <div class="divide-y divide-gray-200">
    <div *ngIf="currentModule?.enable">
      <div class="flex">
        <button
          [disabled]="packageNumber > 4"
          class="mx-auto py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          (click)="addPackage()"
        >
          Aggiungi collo
        </button>

        <button
          *ngIf="packageNumber > 1"
          class="mx-auto py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          (click)="removePackage()"
        >
          Rimuovi collo
        </button>
      </div>

      <div formArrayName="dimensions">
        <div *ngFor="let package of dimensions.controls; let i = index">
          <div
            class="md:flex md:flex-row w-full items-center w-full p-2"
            [formGroupName]="i"
          >
            <span class="mr-6">{{ i + 1 }})</span>
            <div
              *ngFor="let field of fieldsLabel"
              class="justify-items-center w-full mb-1"
            >
              <div class="grid grid-cols-2 md:grid-cols-1">
                <label>{{ field.label }}</label>
                <input
                  formControlName="{{ field.label }}"
                  step="{{ field.step }}"
                  type="number"
                  min="0"
                  class="w-28 lg:w-32 shadow-sm sm:text-sm border-gray-300 rounded-md"
                  placeholder="{{ field.placeholder }}"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <fieldset *ngIf="currentModule?.insurance.enable" class="py-4">
      <div class="text-base font-medium text-gray-900">Assicurazione</div>
      <div class="mt-4 space-y-4">
        <div class="relative flex items-start">
          <div class="flex items-center h-5">
            <input
              id="outwardInsurance"
              name="outwardInsurance"
              type="checkbox"
              class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
            />
          </div>
          <div class="ml-3 text-sm">
            <label for="outwardInsurance" class="font-medium text-gray-700"
              >Andata</label
            >
          </div>
        </div>
        <div
          class="relative flex items-start"
          *ngIf="
            currentModule?.returnLabel.enable &&
            currentModule?.returnLabel.insurance.enable
          "
        >
          <div class="flex items-center h-5">
            <input
              id="returnInsurance"
              name="returnInsurance"
              type="checkbox"
              class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
            />
          </div>
          <div class="ml-3 text-sm">
            <label for="returnInsurance" class="font-medium text-gray-700">
              Ritorno
            </label>
          </div>
        </div>
      </div>
    </fieldset>

    <div class="md:flex md:flex-row md:col-span-full space-x-2 py-4">
      <select
        (change)="selectCourier(courier)"
        #courier
        [formControlName]="'couriers'"
        id="courier"
        name="courier"
        class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md"
      >
        <option [defaultSelected]="true" disabled>Seleziona corriere</option>
        <ng-container *ngFor="let courier of couriers">
          <option>{{ courier.name }}</option>
        </ng-container>
      </select>
      <img
        *ngIf="courierSelectedLogoUrl"
        alt="logo corriere"
        class="mt-4 md:mt-0"
        src="{{ courierSelectedLogoUrl }}"
      />
    </div>
    <div *ngIf="courierSelected.name !== ''">
      <fieldset class="mt-4">
        <legend class="text-lg font-medium text-gray-900">Servizi</legend>
        <div
          class="my-2 divide-y divide-gray-200"
        >
          <div
            class="relative flex items-start py-4"
            *ngFor="let s of courierServices.controls; let i = index"
          >
            <div
              class="min-w-0 flex-1 text-sm"
              [formGroupName]="'courierServices'"
            >
              <label class="font-medium text-gray-700 select-none">
                {{ s.value.service }}
              </label>
            </div>
            <div class="ml-3 flex items-center h-5">
              <input
                name=""
                id="person-1"
                name="person-1"
                type="checkbox"
                class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
              />
            </div>
          </div>
        </div>
      </fieldset>
    </div>

    <div class="flex flex-row space-x-4 py-4" *ngIf="courierSelected.name !== ''">
      <button
        *ngIf="courierSelected !== null && currentModule?.pickup.pickup"
        (click)="checkPickUpAviability()"
        type="button"
        class="bg-white py-2 px-3 border border-gray-300 rounded-md shadow-sm text-sm leading-4 font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
      >
        Verifica disponibilità
      </button>
      <span *ngIf="pickupAvailability === 'OK'" class="text-green-400"
        >disponibile per il ritiro in giornata
      </span>
      <span *ngIf="pickupAvailability === 'KO'" class="text-red-400">
        non disponibile per il ritiro in giornata
      </span>
    </div>

    <div *ngIf="costExposure" class="py-4">
      <p>Costo spedizione: € 10.15</p>
      <div class="space-x-2 mx-auto justify-items-center items-center">
        <button
          (click)="incrementStep()"
          class="inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-xs font-medium rounded text-green-400 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 capitalize"
        >
          accetta
        </button>
        <button
          class="inline-flex items-center px-3 py-2 border border-gray-300 shadow-sm text-xs font-medium rounded text-red-400 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 capitalize"
        >
          anulla spedizione
        </button>
      </div>
    </div>
  </div>

  <!--   <button
    
    class="focus:ring-1 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-4 cursor-pointer bg-yellow-400 text-white"
  >
    Continua
  </button> -->
</form>
