<app-modal
  [show]="showModal"
  [errors]="errors"
  (closeModal)="setCloseModal($event)"
></app-modal>
<app-navbar></app-navbar>
<app-wizard>
  <!-- Start Loading logo -->
  <div class="text-center" *ngIf="isLoading">
    <app-loader></app-loader>
  </div>
  <!-- End Loading logo -->
  <ng-container>
    <div [ngClass]="store.hasReturnShipment ? 'md:grid md:grid-cols-2' : ''">
      <!-- andata -->
      <section
        class="bg-white dark:bg-gray-900"
        *ngIf="store.outwardCostExposure.length"
      >
        <div class="px-4 mx-auto max-w-screen-xl lg:px-6">
          <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
            <h1 class="text-xl font-semibold text-gray-900">
              {{ translations["lbl_choose_courier"] }}
            </h1>
          </div>
          <div
            class="space-y-8 lg:grid lg:grid-cols-2 sm:gap-6 xl:gap-10 lg:space-y-0"
          >
            <div
              *ngFor="let service of store.outwardCostExposure; let i = index"
              class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-5 dark:bg-gray-800 dark:text-white"
            >
              <div class="md:flex items-center space-x-2">
                <input
                  class="focus:ring-red-500 h-6 w-6 text-red-600 border-gray-300"
                  type="radio"
                  [checked]="i === 0 ? true : false"
                  [value]="service.serviceName"
                  name="outward"
                  (click)="selectCourier('outward', service)"
                />
                <span class="text-2xl font-semibold">
                  {{ service.courier }}
                </span>
                <span
                  class="font-normal text-gray-500 sm:text-lg dark:text-gray-400"
                >
                  {{ service.serviceName }}
                </span>
              </div>

              <ng-container *ngIf="store.hasPayment">
                <div class="flex justify-center items-baseline my-8">
                  <span class="mr-2 text-2xl font-extrabold">
                    {{ translations.lbl_total_price }}: €{{
                      service.data.totale
                    }}
                  </span>
                </div>
                <ul role="list" class="mb-8 space-y-1 text-left list-disc">
                  <li class="flex items-center space-x-3">
                    <span
                      >{{ translations["lbl_ancillary_price"] }}: €{{
                        service.data.varie
                      }}</span
                    >
                  </li>
                  <li class="flex items-center space-x-3">
                    <span>nolo: €{{ service.data.nolo }}</span>
                  </li>
                  <li
                    class="flex items-center space-x-3"
                    *ngFor="
                      let varie_d of service.data.varie_dettaglio | keyvalue
                    "
                  >
                    <span>{{ varie_d.key }}: €{{ varie_d.value }}</span>
                  </li>
                  <li class="flex items-center space-x-3" *ngIf="iva">
                    <span
                      >{{ translations.lbl_notax_price }}: €{{
                        service.data.totale / ((iva + 100) / 100)
                          | number: "0.2-2"
                      }}</span
                    >
                  </li>
                </ul>
              </ng-container>
            </div>
          </div>
        </div>
      </section>
      <!-- ritorno -->
      <section
        class="bg-white dark:bg-gray-900 mt-4 md:mt-0"
        *ngIf="store.returnCostExposure.length"
      >
        <div class="px-4 mx-auto max-w-screen-xl lg:px-6">
          <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
            <h1 class="text-xl font-semibold text-gray-900">
              {{ translations["lbl_choose_return_courier"] }}
            </h1>
          </div>
          <div
            class="space-y-8 lg:grid lg:grid-cols-2 sm:gap-6 xl:gap-10 lg:space-y-0"
          >
            <div
              *ngFor="let service of store.returnCostExposure; let i = index"
              class="flex flex-col p-6 mx-auto max-w-lg text-center text-gray-900 bg-white rounded-lg border border-gray-100 shadow dark:border-gray-600 xl:p-5 dark:bg-gray-800 dark:text-white"
            >
              <div class="md:flex items-center space-x-2">
                <input
                  class="focus:ring-red-500 h-6 w-6 text-red-600 border-gray-300"
                  type="radio"
                  [checked]="i === 0 ? true : false"
                  [value]="service.serviceName"
                  name="retrun"
                  (click)="selectCourier('return', service)"
                />
                <span class="text-2xl font-semibold">
                  {{ service.courier }}
                </span>
                <span
                  class="font-normal text-gray-500 sm:text-lg dark:text-gray-400"
                >
                  {{ service.serviceName }}
                </span>
              </div>
              <ng-container *ngIf="store.hasPayment">
                <div class="flex justify-center items-baseline my-8">
                  <span class="mr-2 text-2xl font-extrabold">
                    {{ translations.lbl_total_price }}: €{{
                      service.data.totale
                    }}
                  </span>
                </div>
                <ul role="list" class="mb-8 space-y-1 text-left list-disc">
                  <li class="flex items-center space-x-3">
                    <span
                      >{{ translations["lbl_ancillary_price"] }}: €{{
                        service.data.varie
                      }}</span
                    >
                  </li>
                  <li class="flex items-center space-x-3">
                    <span>{{ "nolo" }}: €{{ service.data.nolo }}</span>
                  </li>
                  <li
                    class="flex items-center space-x-3"
                    *ngFor="
                      let varie_d of service.data.varie_dettaglio | keyvalue
                    "
                  >
                    <span>{{ varie_d.key }}: €{{ varie_d.value }}</span>
                  </li>
                  <li class="flex items-center space-x-3" *ngIf="iva">
                    <span>
                      {{ translations.lbl_notax_price }}: €
                      {{
                        service.data.totale / ((iva + 100) / 100)
                          | number: "0.2-2"
                      }}
                    </span>
                  </li>
                </ul>
              </ng-container>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="mt-4" *ngIf="chosenCourier.outward.courierCode">
      <div class="flex space-x-2" *ngIf="homePickup">
        <input
          class="text-red-dhl"
          type="radio"
          name="ritiro"
          value="serive"
          [checked]="true"
          (click)="clearPickupAviability()"
        />
        <span>ritiro presso service point</span>
      </div>
      <div class="flex space-x-2" *ngIf="pointPickup">
        <input
          class="text-red-dhl"
          (click)="checkPickupAviability(chosenCourier.outward.courierCode)"
          type="radio"
          name="ritiro"
          value="home"
        />
        <span>ritiro a casa</span>
        <span *ngIf="pickupAvailability[chosenCourier.outward.courierCode]">
          ritiro: {{ pickupAvailability[chosenCourier.outward.courierCode] }}
        </span>
      </div>
    </div>

    <div class="flex flex-row space-x-4 justify-center">
      <button
        *ngIf="store.currentStep > 1 && !store.isLastModule"
        type="button"
        (click)="service.handlePreviousStep()"
        class="bg-yellow-400 text-white focus:ring-1 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-4 cursor-pointer"
      >
        {{ translations["lbl_btn_back"] }}
      </button>
      <button
        (click)="incrementStep()"
        [ngClass]="
          canContinue
            ? 'bg-yellow-400 text-white '
            : 'bg-yellow-200 text-slate-200'
        "
        class="focus:ring-1 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-4 cursor-pointer"
      >
        {{ translations["lbl_btn_forward"] }}
      </button>
    </div>
  </ng-container>
</app-wizard>
