<footer
  class="p-4 bg-white rounded-lg shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 bg-[#FACC15] px-40"
>
  <div class="flex flex-col px-40">
    <h5 class="text-2xl font-bold">Deutsche POST DHL</h5>
    <p>
      DHL customer support 199.199.345<br />
      Maximum cost of 14.49 euro cents per minute for calls from the fixed
      network and 48.8 euro cents per minute for calls from the mobile network,
      with a connection charge of 15.75 cents EUR
    </p>
  </div>
  <ul
    class="flex flex-col space-y-1 mt-3 text-sm text-black dark:text-gray-400 sm:mt-0"
  >
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6"
        >RELOAD your DOCUMENTS here</a
      >
    </li>
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">LEGAL NOTICE</a>
    </li>
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">TERMS OF USE</a>
    </li>
    <li>
      <a href="#" class="mr-4 hover:underline md:mr-6">PRIVACY NOTICE</a>
    </li>
    <li>
      <a href="#" class="hover:underline">Contact</a>
    </li>
  </ul>
</footer>
