<app-navbar> </app-navbar>
<app-widzard>
  <form [formGroup]="formInvoice" (submit)="nextStep()">
    <div class="sm:hidden">
      <label for="tabs" class="sr-only">Select a tab</label>
      <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
      <select
        id="tabs"
        name="tabs"
        class="block w-full focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md"
      >
        <option>My Account</option>

        <option>Company</option>

        <option selected>Team Members</option>

        <option>Billing</option>
      </select>
    </div>
    <div class="hidden sm:block">
      <div class="border-b border-gray-200">
        <nav class="-mb-px flex" aria-label="Tabs">
          <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300" -->
          <div
            (click)="handleSetInvoiceModules('privato')"
            [ngClass]="selected === 'privato' ? currentModule : otherModule"
          >
            privato: codice fiscale italiano
          </div>

          <div
            (click)="handleSetInvoiceModules('piva')"
            [ngClass]="selected === 'piva' ? currentModule : otherModule"
          >
            azienda: partita iva
          </div>

          <div
            (click)="handleSetInvoiceModules('estero')"
            [ngClass]="selected === 'estero' ? currentModule : otherModule"
          >
            estero: indirizzo fatturazione
          </div>
        </nav>
      </div>
    </div>

    <div class="space-y-4 mt-4">
      <h1>DATI FATTURAZIONE</h1>
      <p>
        Si prega di compilare i campi con attenzione. Tutti i campi
        contrassegnati da un asterisco sono obbligatori o si compilano in
        automatico.
      </p>
      <div class="grid grid-cols-2 gap-x-4">
        <ng-container *ngFor="let module of invoiceModules">
          <div class="relative z-0 w-full mt-6 group mx-auto">
            <input
              [formControlName]="module.value"
              [type]="module.type"
              [required]="module.required"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer capitalize"
            />

            <label
              class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6 capitalize"
            >
              {{ module.label }}
              <span *ngIf="module.required" class="text-red-500">*</span>
            </label>
          </div>
        </ng-container>
      </div>
    </div>
    <button
      [disabled]="false"
      [ngClass]="
        formInvoice.valid ? 'bg-yellow-400 text-white ' : 'bg-yellow-200 text-slate-200'
      "
      class="focus:ring-1 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-4 cursor-pointer"
    >
      Continua
    </button>
  </form>
</app-widzard>
