<app-navbar></app-navbar>
<app-widzard>
  <p *ngIf="displayPayment; else endWithoutPayment">
    {{ displayPayment.response.message }}
  </p>

  <ng-template #endWithoutPayment> <p>Fine</p> </ng-template>

  <div *ngIf="pdfOutward">
    <a
      class="mt-4 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 space-x-2"
      download="outward_label.pdf"
      [href]="pdfOutward"
      title="Download pdf document"
    >
      scarica etichetta di andata
    </a>
  </div>

  <div *ngIf="pdfReturn">
    <a
      class="mt-4 inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-yellow-400 hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 space-x-2"
      download="return_label.pdf"
      [href]="pdfReturn"
      title="Download pdf document"
    >
      scarica etichetta di ritorno
    </a>
  </div>
</app-widzard>
