<div class="relative">
  <nav
    ngClass="{{ theme }}"
    class="border-gray-200 px-2 md:mx-2 sm:px-4 py-2.5 rounded dark:bg-gray-800 rounded-b-[30px]"
  >
    <div
      class="container flex flex-wrap justify-between items-center mx-auto px-6"
    >
      <img
        src="../../assets/Gsped_logo.png"
        class="mr-3 h-8 sm:h-9"
        alt="Gsped Logo"
      />
      <button
        (click)="setShowMobileMenu()"
        type="button"
        class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:bg-slate-500 dark:focus:ring-gray-600"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="mobile-menu">
        <ul
          class="flex flex-col mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium"
        >
          <li>
            <a
              class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent transition-all hover:scale-125 md:p-0 dark:text-white"
              aria-current="page"
              >Home</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent transition-all hover:scale-125 md:p-0 dark:text-white"
              >About</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent transition-all hover:scale-125 md:p-0 dark:text-white"
              >Services</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent transition-all hover:scale-125 md:p-0 dark:text-white"
              >Pricing</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 pr-4 pl-3 text-white bg-blue-700 rounded md:bg-transparent transition-all hover:scale-125 md:p-0 dark:text-white"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      <div
        [ngClass]="showMobileMenu ? 'block' : 'hidden'"
        class="md:hidden absolute top-full right-0 w-40 mt-1 mr-2 bg-white dark:bg-slate-700 rounded-lg shadow-md ring-1 ring-gray-900 ring-opacity-5 font-normal text-sm text-gray-900 dark:text-slate-400 divide-y divide-gray-100 z-20"
      >
        <div class="py-1.5 px-3.5">
          <a href="#" class="group flex md:hidden items-center py-1.5">
            <mat-icon>home</mat-icon>
            Home
          </a>
          <a href="#" class="group flex md:hidden items-center py-1.5">
            <mat-icon>info</mat-icon>
            About
          </a>
          <a href="#" class="group flex md:hidden items-center py-1.5">
            <mat-icon>analytics</mat-icon>
            Services
          </a>
          <a href="#" class="group flex md:hidden items-center py-1.5">
            <mat-icon>sell</mat-icon>
            Pricing
          </a>
          <a href="#" class="group flex md:hidden items-center py-1.5">
            <mat-icon>contacts</mat-icon>
            Contact
          </a>
          <a href="#" class="group flex md:hidden items-center py-1.5">
            <mat-icon>search</mat-icon>
            Search
          </a>
          <a href="#" class="group flex md:hidden items-center py-1.5">
            <mat-icon>shopping_cart</mat-icon>
            Products
          </a>
          <div
            class="group cursor-pointer flex md:hidden items-center py-1.5"
            (click)="changeTheme()"
          >
            <mat-icon>dark_mode</mat-icon>
            Dark Mode
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
