<!-- <div class="flex space-x-4">
  <input type="checkbox" checked />
  <label>{{ label }}</label>
  <img src="{{ img }}" alt="{{ img }}" class="h-10 w-10" />
</div>
 -->

<div class="space-x-10">
  <div class="justify-items-center">
    <div class="flex justify-center h-5 mb-4">
      <input
        name="products"
        type="checkbox"
        class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
      />
      <div class="ml-3 text-sm">
        <label class="font-medium text-gray-700">
          {{ label }}
        </label>
      </div>
    </div>
    <img src="{{ img }}" alt="{{ img }}" class="h-40 w-auto mx-auto" />
  </div>
</div>
