<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="mx-auto max-w-screen-sm text-center">
      <h2
        class="mb-4 text-6xl tracking-tight font-extrabold lg:text-7xl text-primary-600 dark:text-primary-500 drop-shadow-xl text-orange-400"
      >
        Page not found
      </h2>
      <img src="/assets/404.jpg" />
      <p
        class="mb-4 text-2xl tracking-tight font-extrabold lg:text-3xl text-primary-600 dark:text-primary-500 text-orange-400"
      >
        Impossibile raggiungere la pagina
      </p>
      <p>Hai digitato oppure copiato un indirizzo (URL) errato</p>
      <p>Verifica sul sito di partenza che l'indirizzo (URL) sia corretto</p>
      <hr class="mt-4 mb-4" />
      <p
        class="mb-4 text-2xl tracking-tight font-extrabold lg:text-3xl text-primary-600 dark:text-primary-500 text-orange-400"
      >
        Unable to reach the page
      </p>
      <p>You entered an incorrect address (URL)</p>
      <p>Check the address (URL) on the starting site</p>
    </div>
  </div>
</section>
