<app-navbar></app-navbar>
<app-widzard>
  <div class="mb-4 items-center mx-auto justify-center">
    <div class="px-4 sm:px-6 lg:px-8">
      <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
          <h1 class="text-xl font-semibold text-gray-900">Riepilogo Dati</h1>
        </div>
      </div>

      <div class="grid md:grid-cols-2 space-y-4 md:space-y-0 md:space-x-4 items-top mx-auto mt-4">
        <div
          class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                >
                  Dati Mittente
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ sender.sender_name }}
                </td>
              </tr>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ sender.sender_contact }}
                </td>
              </tr>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ sender.sender_addr }}
                </td>
              </tr>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ sender.sender_cap }}
                </td>
              </tr>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ sender.sender_city }}
                </td>
              </tr>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ sender.sender_prov }}
                </td>
              </tr>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ sender.sender_country_code }}
                </td>
              </tr>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ sender.sender_phone }}
                </td>
              </tr>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ sender.sender_email }}
                </td>
              </tr>

              <!-- nel riepilogo dei dati di mittente e destinatario mettere i campi in questo ordine: nome, contatto,indirizzo linea1 indirizzo linea2 cap citta provincia nazione telefono mail per le indicazioni sul layout vedere il documento linkato qualche issue piu indietro -->
            </tbody>
          </table>
        </div>
        <div
          class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                >
                  Dati Destinatario
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ recipient.rcpt_name }}
                </td>
              </tr>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ recipient.rcpt_contact }}
                </td>
              </tr>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ recipient.rcpt_addr }}
                </td>
              </tr>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ recipient.rcpt_cap }}
                </td>
              </tr>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ recipient.rcpt_city }}
                </td>
              </tr>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ recipient.rcpt_prov }}
                </td>
              </tr>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ recipient.rcpt_country_code }}
                </td>
              </tr>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ recipient.rcpt_phone }}
                </td>
              </tr>
              <tr>
                <td
                  class="whitespace-nowrap py-2 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                >
                  {{ recipient.rcpt_email }}
                </td>
              </tr>
              <tr></tr>

              <!-- nel riepilogo dei dati di mittente e destinatario mettere i campi in questo ordine: nome, contatto,indirizzo linea1 indirizzo linea2 cap citta provincia nazione telefono mail per le indicazioni sul layout vedere il documento linkato qualche issue piu indietro -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <form [formGroup]="formPayment" (submit)="redirectPayment()">
    <div class="grid lg:grid-cols-1 gap-x-4 relative mt-8 px-4 sm:px-6 lg:px-8">
      <ng-container *ngFor="let field of fields">
        <div class="relative z-0 w-full mb-6 group mx-auto">
          <input
            autocomplete="off"
            [formControlName]="field.value"
            type="text"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          />
          <label
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >
            {{ field.label }}
          </label>
        </div>
      </ng-container>
      <div class="sm:grid sm:grid-cols-3 sm:gap-4 sm:items-start sm:pt-5 mb-5">
        <label
          for="termsconditions"
          class="block text-sm font-medium text-gray-700 sm:mt-px sm:pt-2"
        >
          {{ termsConditions.textBefore }}
          <a [href]="termsConditions.link" target="_blank" class="underline">{{
            termsConditions.text
          }}</a>
          {{ termsConditions.textAfter }}
          {{ termsPrivacy.textBefore }}
          <a [href]="termsPrivacy.link" target="_blank" class="underline">{{
            termsPrivacy.text
          }}</a>
          {{ termsPrivacy.textAfter }}
        </label>
        <div class="mt-1 sm:mt-0 sm:col-span-2">
          <input
            [formControlName]="'termsconditions'"
            id="termsconditions"
            name="termsconditions"
            type="checkbox"
            class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
          />
        </div>
      </div>
    </div>
    <div class="mx-auto items-center justify-center">
      <button
        [disabled]="isHandledPayment"
        [disabled]="!formPayment.value.termsconditions"
        type="submit"
        [ngClass]="
          formPayment.valid &&
          !isHandledPayment &&
          formPayment.value.termsconditions
            ? 'text-white bg-yellow-400 cursor-pointer'
            : 'text-slate-300 bg-yellow-200 cursor-not-allowed'
        "
        class="inline-flex items-center px-4 py-2 border border-transparent shadow-sm text-base font-medium rounded-md text-white hover:bg-yellow-500 focus:outline-none focus:ring-2 focus:ring-offset-2 space-x-2"
      >
        <span>Vai al Pagamento</span>
        <mat-icon>open_in_new</mat-icon>
      </button>
    </div>
  </form>
</app-widzard>
