<app-navbar></app-navbar>
<app-widzard>
  <form [formGroup]="formSender" (submit)="nextStep()">
    <div class="lg:grid lg:grid-cols-4 gap-x-4 relative">
      <ng-container *ngFor="let field of fields">
        <div
          class="relative w-full mb-6 group mx-auto"
          [ngClass]="
            field.columnspan === 2
              ? 'col-span-2'
              : field.columnspan === 4
              ? 'col-span-4'
              : ''
          "
        >
          <input
            [readonly]="readonly"
            [maxlength]="field.maxLenght"
            [ngClass]="readonly ? 'cursor-not-allowed' : ''"
            [ngClass]="
              formSender.get(field.value)?.invalid &&
              formSender.get(field.value)?.errors &&
              (formSender.get(field.value)?.dirty ||
                formSender.get(field.value)?.touched)
                ? 'border-red-500'
                : 'border-gray-300'
            "
            *ngIf="field.value !== 'sender_addr'"
            autocomplete="off"
            [formControlName]="field.value"
            type="text"
            class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
          />

          <div *ngIf="field.value === 'sender_addr'">
            <input
              [readonly]="readonly"
              [ngClass]="readonly ? 'cursor-not-allowed' : ''"
              [ngClass]="
                formSender.get(field.value)?.invalid &&
                formSender.get(field.value)?.errors &&
                (formSender.get(field.value)?.dirty ||
                  formSender.get(field.value)?.touched)
                  ? 'border-red-500'
                  : 'border-gray-300'
              "
              autocomplete="off"
              [formControlName]="field.value"
              type="text"
              class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"
              (input)="handleGooglePlace(address, 'primary')"
              #address
              name="address"
            />
            <div
              id="predictions"
              *ngIf="showPredictions === 'primary'"
              class="bg-blue-200 z-50 absolute w-full"
            >
              <ng-container *ngFor="let prediction of predictionsAddress">
                <div
                  (click)="setAddress(prediction)"
                  class="hover:bg-blue-400 cursor-pointer"
                >
                  {{ prediction.toList }}
                </div>
              </ng-container>
            </div>
          </div>

          <label
            class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >
            {{ field.label }}
            <span *ngIf="field.required" class="text-red-400"> * </span>
          </label>
        </div>
      </ng-container>
    </div>
    <div class="text-center sm:text-left">
      <button
        [disabled]="formSender.invalid"
        [ngClass]="
          formSender.valid
            ? 'bg-yellow-400 text-white '
            : 'bg-yellow-200 text-slate-200'
        "
        class="focus:ring-1 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center mt-4 cursor-pointer"
      >
        Continua
      </button>
    </div>
  </form>
</app-widzard>
